<div class="container">
  <h2>Agregar Nuevo Calendario</h2>

  <!-- Modal -->
  <div
    [ngClass]="{ 'hs-overlay-open': isModalOpen, 'hs-overlay': !isModalOpen }"
    class="hs-overlay-backdrop-open:bg-gray-900/50 size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-auto"
  >
    <div
      class="hs-overlay-content mt-7 opacity-100 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto"
    >
      <div
        class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto"
      >
        <div class="flex justify-between items-center py-3 px-4 border-b">
          <h3 class="font-bold text-black font-medium-500">
            {{ currentCalendarioId ? "Editar Calendario" : "Nuevo Calendario" }}
          </h3>
          <button
            type="button"
            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-200 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
            (click)="closeModal()"
          >
            <span class="sr-only">Cerrar</span>
            <svg
              class="flex-shrink-0 size-4 text-gray-800"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button>
        </div>
        <div class="p-4 overflow-y-auto">
          <form [formGroup]="calendarioForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="titulo">Título:</label>
              <input
                type="text"
                id="titulo"
                formControlName="titulo"
                class="block w-full border-2 border-[#E5E7EB] rounded-md py-2 pl-3 pr-3 text-gray-900"
                maxlength="50"
              />
              <div
                *ngIf="
                  calendarioForm.get('titulo')?.invalid &&
                  (calendarioForm.get('titulo')?.dirty ||
                    calendarioForm.get('titulo')?.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="calendarioForm.get('titulo')?.errors?.['required']">
                  El título es requerido.
                </div>
                <div
                  *ngIf="calendarioForm.get('titulo')?.errors?.['maxlength']"
                >
                  El título no puede tener más de 50 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="archivo">Archivo PDF:</label>
              <input
                type="file"
                id="archivo"
                (change)="onFileChange($event)"
                class="block w-full border-2 border-[#E5E7EB] rounded-md py-2 pl-3 pr-3 text-gray-900"
              />
            </div>

            <div class="modal-footer">
              <button
                type="submit"
                [disabled]="calendarioForm.invalid"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-gray-200 bg-[#04847C] text-white hover:opacity-80 transition-opacity duration-300 disabled:pointer-events-none font-medium"
              >
                {{
                  currentCalendarioId
                    ? "Actualizar Calendario"
                    : "Agregar Calendario"
                }}
              </button>
              <button
                type="button"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-gray-200 bg-gray-200 text-black hover:opacity-70 transition-opacity duration-300 font-medium"
                (click)="closeModal()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del Modal -->

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div
    class="rounded-lg border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default sm:px-7.5 xl:pb-1 my-2"
  >
    <div class="max-w-full">
      <div class="border-b border-gray-200">
        <nav class="flex space-x-1" aria-label="Tabs" role="tablist">
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-[#04847C] hs-tab-active:text-[#04847C] py-4 px-2.5 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-[#04847C] focus:outline-none focus:text-[#04847C] disabled:opacity-50 disabled:pointer-events-none active"
            id="tabs-with-icons-item-1"
            data-hs-tab="#tabs-with-icons-1"
            aria-controls="tabs-with-icons-1"
            role="tab"
            (click)="switchTab('active')"
          >
            Todos
          </button>
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-[#04847C] hs-tab-active:text-[#04847C] py-4 px-2.5 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-[#04847C] focus:outline-none focus:text-[#04847C] disabled:opacity-50 disabled:pointer-events-none"
            id="tabs-with-icons-item-2"
            data-hs-tab="#tabs-with-icons-2"
            aria-controls="tabs-with-icons-2"
            role="tab"
            (click)="switchTab('inactive')"
          >
            Papelera
          </button>
        </nav>
      </div>

      <div class="mt-3">
        <div
          id="tabs-with-icons-1"
          role="tabpanel"
          aria-labelledby="tabs-with-icons-item-1"
        >
          <div class="flex flex-wrap items-center">
            <div class="flex flex-col lg:w-7/12 sm:w-12/12 md:w-7/12 w-full">
              <div class="w-full">
                <!-- SearchBox -->
                <div class="relative w-full">
                  <div class="relative w-full">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5 w-full"
                    >
                      <svg
                        class="flex-shrink-0 size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                      </svg>
                    </div>
                    <input
                      (input)="filterGlobal($event)"
                      class="py-3 ps-10 pe-4 block w-full border-input-bord-color rounded-lg text-sm focus:border-input-focus-color focus:ring-input-focus-color disabled:opacity-50 disabled:pointer-events-none border-2 border-[#EDEDED]"
                      type="text"
                      placeholder="Ingresa tu búsqueda"
                      value=""
                      data-hs-combo-box-input=""
                    />
                  </div>
                </div>
                <!-- End SearchBox -->
              </div>
            </div>
            <div
              class="flex flex-col lg:w-5/12 sm:w-12/12 md:w-5/12 text-right w-full"
            >
              <div class="w-full">
                <button
                  type="button"
                  class="py-3 my-2 px-4 inline-flex button-secondary items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-color text-white hover:bg-primary-color-90 disabled:opacity-50 disabled:pointer-events-none"
                  (click)="openModal()"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Registrar Calendario
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-col mb-5">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="border rounded-lg overflow-hidden my-2">
                  <p-table
                    #dt
                    [value]="filteredCalendarios"
                    [paginator]="true"
                    [rows]="5"
                    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="['titulo', 'fecha_creacion']"
                    [tableStyleClass]="'min-w-full divide-y'"
                    [resizableColumns]="true"
                  >
                    <ng-template pTemplate="header">
                      <tr
                        class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
                      >
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="titulo"
                        >
                          <div class="flex">
                            Título
                            <p-sortIcon field="titulo"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="fecha_creacion"
                        >
                          <div class="flex">
                            Fecha de Creación
                            <p-sortIcon field="fecha_creacion"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                        >
                          <div class="flex">Acciones</div>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-calendario>
                      <tr class="divide-x divide-gray-200 bg-neutral-100">
                        <td class="px-3 py-2 text-sm text-black">
                          {{ calendario.titulo }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          {{ calendario.fecha_creacion }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          <div class="flex items-center space-x-3.5">
                            <button
                              (click)="openModal(calendario)"
                              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-transparent bg-[#04847C] text-white hover:opacity-80 transition-opacity duration-300"
                            >
                              <i class="fas fa-edit"></i>
                            </button>
                            <button
                              (click)="confirmDeleteCalendario(calendario.id)"
                              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-transparent bg-[#EF4444] text-white hover:opacity-80 transition-opacity duration-300"
                            >
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="4">No se encontraron resultados.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="tabs-with-icons-2"
          class="hidden"
          role="tabpanel"
          aria-labelledby="tabs-with-icons-item-2"
        >
          <div class="min-h-60 flex flex-col bg-white rounded-xl">
            <div class="flex flex-col mb-5">
              <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                  <div class="border rounded-lg overflow-hidden my-2">
                    <p-table
                      #dt
                      [value]="papeleraCalendarios"
                      [paginator]="true"
                      [rows]="5"
                      currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
                      [showCurrentPageReport]="true"
                      [globalFilterFields]="['titulo', 'fecha_creacion']"
                      [tableStyleClass]="'min-w-full divide-y'"
                      [resizableColumns]="true"
                    >
                      <ng-template pTemplate="header">
                        <tr
                          class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
                        >
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="titulo"
                          >
                            <div class="flex">
                              Título
                              <p-sortIcon field="titulo"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="fecha_creacion"
                          >
                            <div class="flex">
                              Fecha de Creación
                              <p-sortIcon field="fecha_creacion"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          >
                            <div class="flex">Acciones</div>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-calendario>
                        <tr class="divide-x divide-gray-200 bg-neutral-100">
                          <td class="px-3 py-2 text-sm text-black">
                            {{ calendario.titulo }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            {{ calendario.fecha_creacion }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            <div class="flex items-center space-x-3.5">
                              <button
                                (click)="activateCalendario(calendario.id)"
                                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-transparent bg-[#04847C] text-white hover:opacity-80 transition-opacity duration-300"
                              >
                                <i class="fas fa-check"></i>
                              </button>
                              <button
                                (click)="deleteCalendario(calendario.id)"
                                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-transparent bg-[#EF4444] text-white hover:opacity-80 transition-opacity duration-300"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="4">No se encontraron resultados.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
