<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<div class="container mx-auto mt-10 mb-10">
    <section id="our-team" class="bg-gray-100 py-32">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-center mb-8 text-primary">Equipo</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <!-- Team Member 1 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/1.jpg" alt="Team Member 1" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Alexis Arath Alatorre Delgadillo</h3>
                    <p class="text-gray-700">Rol: Scrum Master</p>
                    <p class="text-gray-500">Email: alexisexample.com</p>
                </div>

                <!-- Team Member 2 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/4.jpg" alt="Team Member 2" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Yahir Nava Gandara</h3>
                    <p class="text-gray-700">Rol: UI y Fron-end</p>
                    <p class="text-gray-500">Email: yahirexample.com</p>
                </div>

                <!-- Team Member 3 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/3.jpg" alt="Team Member 3" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Jose Alberto Medina Peña</h3>
                    <p class="text-gray-700">Rol: UE y Back-end</p>
                    <p class="text-gray-500">Email: joseexample.com</p>
                </div>

                <!-- Team Member 4 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/2.jpg" alt="Team Member 4" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Mario Imanol Mata Gomez</h3>
                    <p class="text-gray-700">Rol: Back-end y Base de datos</p>
                    <p class="text-gray-500">Email: marioexample.com</p>
                </div>

                <!-- Team Member 5 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/5.jpg" alt="Team Member 5" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Anthony Joseph Lamas Castillo</h3>
                    <p class="text-gray-700">Rol: Fron-end</p>
                    <p class="text-gray-500">Email: anthonyexample.com</p>
                </div>

                <!-- Team Member 6 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                    <img src="https://spacema-dev.com/elevate/assets/images/team/6.jpg" alt="Team Member 6" class="w-full rounded-full mb-4">
                    <h3 class="text-xl font-semibold mb-2">Saul Hernandez Contreras</h3>
                    <p class="text-gray-700">Rol: Analista y Back-end</p>
                    <p class="text-gray-500">Email: saulexample.com</p>
                </div>
            </div>
        </div>
    </section>
</div>




<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->
