@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

/*
Este archivo CSS se utiliza para aplicar estilos globales y importar otros archivos de estilos.
También incluye declaraciones personalizadas de @font-face para las fuentes 'texto' y 'titulo'.
*/


@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

input[type="checkbox"] {
    accent-color: #04847C !important; 
}
input[type="radio"] {
    accent-color: #04847C !important; 
}



.hs-tooltip-toggle > .fas.fa-edit{
  color: #3b82f6 !important; /* Blue 500 */
}

.hs-tooltip-toggle > .fas.fa-edit:hover{
  color: #2563eb !important; /* Blue 600 */
}


.hs-tooltip-toggle > .fa.fa-trash{
  color: #ef4444 !important; /* Red 500 */
}

.hs-tooltip-toggle > .fa.fa-trash:hover{
  color: #dc2626 !important; /* Red 600 */
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left{
  color: #22c55e !important; /* Green 500 */
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left:hover{
  color: #16a34a !important; /* Green 600 */

}


.hs-tooltip-toggle > .fa.fa-eye{
  color: #008779 !important;
}

.hs-tooltip-toggle > .fa.fa-eye:hover{
  color: #003C3D!important; /* Green 600 */

}


tr > .p-element svg{
  color: white  !important;
}
