<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<div class="w-full h-screen overflow-hidden">
  <img class="object-cover w-full h-full" src="../../assets/img/universidad.jpg" alt="...">
</div>

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
  class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<br> 
<br>

<div class="container mt-4">  
<!--Contenedor Eventos-->
<div class="container mx-auto bg-[#043D3D]">
  <h2 class="text-3xl text-white font-poppins font-bold-700 uppercase mb-4">Eventos Más Recientes</h2>
</div>

<div class="container mx-auto">
  <div class="container sm p-4 bg-white rounded-lg shadow-lg">
    <div *ngIf="eventosRecientes.length > 0; else noEventos" class="grid grid-cols-1 lg:grid-cols-4 gap-4">
      
      <!-- Evento más reciente -->
      <div class="col-span-1 lg:col-span-4 bg-white rounded-lg shadow-lg relative">
        <img [src]="eventosRecientes[0].imagen_principal" [alt]="eventosRecientes[0].titulo" class="w-full h-60 object-cover rounded-t-lg">
        <h3 class="text-2xl font-poppins font-bold text-white p-4">{{ eventosRecientes[0].titulo }}</h3>
        <div class="p-4">
          <p class="text-gray-600">{{ eventosRecientes[0].informacion_evento | slice:0:100 }}...</p>
          <a [routerLink]="['/evento', eventosRecientes[0].id]" class="mt-2 inline-block text-blue-600 hover:underline">Leer más</a>
        </div>
      </div>
      
      <!-- Otros 4 eventos recientes -->
      <ng-container *ngFor="let evento of eventosRecientes.slice(1, 5)">
        <div class="col-span-1 lg:col-span-1 bg-white rounded-lg border border-gray-200">
          <img [src]="evento.imagen_principal" [alt]="evento.titulo" class="w-full h-32 object-cover rounded-t-lg">
          <div class="p-4">
            <h3 class="text-lg font-semibold text-gray-800">{{ evento.titulo }}</h3>
            <p class="text-sm text-gray-600">{{ evento.informacion_evento | slice:0:50 }}...</p>
            <a [routerLink]="['/evento', evento.id]" class="mt-2 inline-block text-blue-600 hover:underline">Leer más</a>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Mensaje cuando no hay eventos -->
    <ng-template #noEventos>
      <div class="p-4 bg-white rounded-lg border border-gray-200 text-center">
        <p class="text-gray-600">No hay eventos recientes disponibles en este momento. Por favor, vuelve a consultar más tarde.</p>
      </div>
    </ng-template>
  </div>
</div>
<!--Fin Eventos-->
<br>
<br>
<br>
<!--Inicio Noticias-->
<div class="container mx-auto mb-4 w-full bg-[#043D3D]">
  <h2 class="text-3xl text-white font-poppins font-bold-700 uppercase mb-4">Noticias</h2>
</div>

<!-- Contenedor de noticias -->
<div class="container max-w-screen-lg mb-8">
  
  <!-- Noticias dinámicas -->
<!-- Contenedor de noticias -->
<div class="container max-w-screen-lg mb-8">
  
  <!-- Noticias dinámicas -->
  <div *ngFor="let noticia of noticiasVisibles" class="border rounded-lg shadow-lg overflow-hidden mb-4">
    <div class="bg-white rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-5">
        <div class="relative flex lg:col-span-2">
          <div class="flex-1 h-24">
            <img [src]="noticia.imagen_principal" [alt]="noticia.titulo" class="object-contain">
          </div>
          <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2">
            <p class="text-4xl font-bold">{{ noticia.fecha_publicacion | date:'dd' }}</p>
            <p class="text-md">{{ noticia.fecha_publicacion | date:'MMMM' }}</p>
          </div>
        </div>
        <div class="p-2 lg:col-span-3 flex flex-col justify-between">
          <div>
            <h3 class="text-xl font-bold text-gray-800 mb-1">{{ noticia.titulo }}</h3>
            <p class="text-gray-600 mb-2 text-sm">{{ noticia.resumen }}</p>
          </div>
          <div class="flex items-center justify-end">
            <a [routerLink]="['/noticia', noticia.id]" class="text-green-800 font-semibold text-sm">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje cuando no hay noticias -->
  <div *ngIf="noticiasVisibles.length === 0" class="border rounded-lg shadow-lg overflow-hidden mb-4 p-4">
    <p class="text-center text-gray-600">No hay noticias recientes disponibles en este momento. Por favor, vuelve a consultar más tarde.</p>
  </div>

</div>

  <!-- Botón Ver más -->
  <div *ngIf="noticiasVisibles.length < noticias.length" class="border shadow-lg overflow-hidden mb-4 p-2 bg-gray-100 rounded-lg">
    <a (click)="verMasNoticias()" class="cursor-pointer">
      <p class="text-md text-center">Mostrar más noticias <i class="fa-solid fa-angle-down"></i></p>
    </a>
  </div>

</div>

<!--Contenedor Recorrido-->
<div class="container mx-auto bg-[#043D3D]">
  <h2 class="text-3xl text-white font-poppins font-bold-700 mt-8 uppercase mb-4">Recorrido Virtual</h2>
</div>

<div class="container mx-auto bg-white p-4 rounded-lg shadow-lg mb-8">
  <div class="flex flex-col items-center">
    <div class="w-full h-fit overflow-hidden">
      <a href="https://www.utdelacosta.edu.mx/recorrido_virtual/"    >
      <img class="w-full h-32 object-cover" src="../../assets/img/universidad.jpg" alt="...">
    </a>
    </div>
    <p class="text-gray-700 text-center mb-4">Explora nuestras instalaciones desde la comodidad de tu hogar con nuestro recorrido virtual interactivo.</p>
    <a href="https://www.utdelacosta.edu.mx/recorrido_virtual/" target="_blank" rel="noopener noreferrer" class="bg-[#043D3D] hover:bg-[#032D2D] text-white font-bold py-2 px-4 rounded transition duration-300">
      Ir a Recorrido Virtual
    </a>
  </div>
</div>
<!--Fin Recorrido-->

</div>



<!--FIN DE CONTENEDOR NOTICIAS-->

<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->