<!-- Componente Navbar -->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!-- Fin Navbar -->
 
 <!-- Botón de desplazamiento -->
 <button id="scrollTopButton" (click)="scrollToSection('inicio')"
 class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
 <i class="fa-solid fa-chevron-up"></i>
</button>

<!-- Hero Section -->
<div class="relative w-full h-screen overflow-hidden">
  <img class="object-cover w-full h-full transform transition-transform duration-1000 hover:scale-105" src="./assets/img/universidad.jpg" alt="Universidad">
  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="text-center text-white p-8 animate-fadeIn">
      <h1 class="text-5xl md:text-6xl font-bold uppercase tracking-wide">Universidad Tecnológica de la Costa</h1>
      <p class="mt-4 text-xl md:text-4xl">Conocimiento que transforma vidas</p>
      <button (click)="scrollToSectionCarreras('carreras')" class="mt-8 inline-block bg-[#04847C] hover:bg-[#032D2D] text-white font-bold py-3 px-6 rounded-full shadow-lg transition duration-300">Descubre más</button>

    </div>
  </div>
</div>

<!-- Sección de Carreras -->
<section #carrerasSection id="carreras" class="relative py-16 bg-gray-100 px-16 opacity-0 translate-y-10 transition-all duration-1000 ease-out">
  <div class="container mx-auto text-center mb-8">
    <h2 class="text-4xl text-[#043D3D] font-bold uppercase tracking-wide animate-slideIn">Conoce nuestras carreras</h2>
  </div>

  <!-- Contenedor del Carrusel con animación de subrayado -->
  <div class="relative w-full max-w-5xl mx-auto px-4 md:px-6 py-24 overflow-hidden z-10 underline-animation-container">
    <div class="text-center">
      <div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]">
        <a href="/carreras">
          <ul #logosUl class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
            <img *ngFor="let imagen of imagenes" [src]="imagen.src" [alt]="imagen.alt" class="w-full h-48 object-cover">
          </ul>
        </a>
      </div>
      <div class="container mx-auto max-w-4xl mt-6">
        <p class="text-gray-700 text-center mb-6">Descubre tu futuro con nosotros. Explora nuestra variedad de carreras universitarias, desde Contaduría y Administración hasta Gastronomía y Agrobiotecnología. Cada programa está diseñado para impulsar tu potencial y prepararte para el éxito profesional.</p>
      </div>
      <!-- Nueva línea con retraso -->
    <div class="underline-line-delay"></div>
    </div>
  </div>
  <!-- Fin del Carrusel Infinito -->
</section>



<!-- Sección de Becas -->
<section #becasSection id="becas" class="relative py-28 bg-gradient-to-r from-[#043D3D] to-[#04847C] text-white overflow-hidden opacity-0 translate-y-10 transition-all duration-1000 ease-out">
  <div class="container mx-auto text-center">
    <div class="relative z-10">
      <h2 class="text-5xl font-bold uppercase tracking-wide animate__animated animate__fadeInDown">¡Gran Oportunidad de Becas!</h2>
      <p class="mt-4 px-8 text-lg md:text-xl animate__animated animate__fadeInUp animate__delay-1s">
        Impulsa tu futuro con nuestras becas. ¡No dejes pasar esta oportunidad!
      </p>
      <a href="/becas" class="mt-8 inline-block bg-[#04847C] hover:bg-[#032D2D] text-white font-bold py-4 px-8 rounded-full shadow-xl transition-transform transform hover:scale-110 animate__animated animate__bounceIn animate__delay-2s">
        Descubre nuestras becas
      </a>
    </div>
  </div>
  
  <!-- Animación de Círculos Flotantes -->
  <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center pointer-events-none">
    <div class="relative w-64 h-64">
      <div class="absolute top-0 left-0 w-32 h-32 bg-white bg-opacity-10 rounded-full filter blur-lg animate-pulse"></div>
      <div class="absolute top-8 right-0 w-24 h-24 bg-white bg-opacity-20 rounded-full filter blur-md animate-bounce"></div>
      <div class="absolute bottom-0 left-16 w-40 h-40 bg-white bg-opacity-10 rounded-full filter blur-lg animate-pulse"></div>
    </div>
  </div>
</section>


<!-- Eventos Recientes -->
<section #eventosSection id="eventos" class="py-16 bg-gray-100 px-16 opacity-0 translate-y-10 transition-all duration-1000 ease-out mt-[180px]">
  <div class="container mx-auto text-center mb-8">
    <h2 class="text-4xl text-[#043D3D] font-bold uppercase tracking-wide animate-slideIn">Eventos Más Recientes</h2>
  </div>

  <!-- Mostrar mensaje si no hay eventos -->
   <div class="container max-w-screen-lg mb-12 space-y-4">
      <div *ngIf="eventosRecientes.length === 0" class="mt-8 p-4 bg-gray-100 rounded-lg text-center shadow-lg">
      <p class="text-gray-600 text-lg">No hay eventos recientes disponibles en este momento. Por favor, vuelve a consultar más tarde.</p>
      </div>
   </div>
  

  <!-- Mostrar eventos si existen -->
  <div *ngIf="eventosRecientes.length > 0" class="container mx-auto grid grid-cols-1 lg:grid-cols-4 gap-8">
    <!-- Evento más reciente -->
    <div class="col-span-1 lg:col-span-4 bg-white rounded-lg shadow-lg overflow-hidden transform hover:-translate-y-2 transition duration-300 flex flex-col">
      <img [src]="eventosRecientes[0].imagen_principal" [alt]="eventosRecientes[0].titulo" class="w-full h-80 object-cover rounded-t-lg">
      <div class="p-6 flex-1 flex flex-col justify-between">
        <div>
          <h3 class="text-2xl font-bold text-[#043D3D]">{{ eventosRecientes[0].titulo | slice:0:sliceValue }}</h3>
          <p class="mt-2 text-gray-600">{{ eventosRecientes[0].informacion_evento | slice:0:sliceValue }}.</p>
        </div>
        <a [routerLink]="['/evento', eventosRecientes[0].id]" class="mt-4 text-[#04847C] hover:text-[#032D2D] font-bold">Leer más</a>
      </div>
    </div>

    <!-- Otros 4 eventos recientes -->
    <ng-container *ngFor="let evento of eventosRecientes.slice(1,  5)">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300 flex flex-col">
        <img [src]="evento.imagen_principal" [alt]="evento.titulo" class="w-full h-32 object-cover rounded-t-lg">
        <div class="p-6 flex-1 flex flex-col justify-between">
          <div>
            <h3 class="text-lg font-bold text-[#043D3D]">{{ evento.titulo | slice:0:sliceValue }}</h3>
            <p class="text-gray-600">{{ evento.informacion_evento | slice:0:getDynamicSliceValue(evento.informacion_evento) }}.</p>
          </div>
          <a [routerLink]="['/evento', evento.id]" class="mt-2 text-[#04847C] hover:text-[#032D2D] font-bold">Leer más</a>
        </div>
      </div>
    </ng-container>
  </div>
</section>


<!-- Noticias -->
<section #noticiasSection id="noticias" class="py-16 bg-white px-16 opacity-0 translate-y-10 transition-all duration-1000 ease-out">
  <div class="container mx-auto text-center mb-8">
    <h2 class="text-4xl text-[#043D3D] font-bold uppercase tracking-wide animate-slideIn">Noticias</h2>
  </div>
  
  <div class="container max-w-screen-lg mb-12 space-y-4">

    <!-- Iteración de noticias -->
    <div *ngFor="let noticia of noticiasVisibles" class="flex items-stretch bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105 h-40">
  
      <!-- Imagen de la noticia -->
      <div class="w-28 lg:w-32 flex-shrink-0">
        <img [src]="noticia.imagen_principal" [alt]="noticia.titulo" class="w-full h-full object-cover rounded-l-lg">
      </div>
  
      <!-- Fecha de la noticia -->
      <div class="flex flex-col items-center justify-center bg-[#04847C] text-white w-20 p-2 text-center">
        <p class="text-lg sm:text-base font-bold">{{ noticia.fecha_publicacion | date:'dd' }}</p>
        <p class="text-lg sm:text-base capitalize">{{ noticia.fecha_publicacion | date:'MMMM yyyy' }}</p>
      </div>
  
      <!-- Contenido de la noticia para pantallas grandes -->
      <div class="flex flex-col justify-between p-4 w-full hidden md:flex">
        <div>
          <h3 class="font-bold text-sm text-gray-800 mb-1">{{ noticia.titulo }}</h3>
          <p class="text-gray-600 text-sm">{{ noticia.resumen | slice:0:sliceValue }}.</p>
        </div>
        <div class="text-right">
          <a [routerLink]="['/noticia', noticia.id]" class="text-[#04847C] hover:text-[#043D3D] font-semibold text-sm transition-colors duration-300">
            Leer más <i class="fa-solid fa-chevron-right ml-1"></i>
          </a>
        </div>
      </div>

      <!-- Información y flecha (visible solo en pantallas pequeñas) -->
      <div class="flex flex-col justify-center p-4 w-full md:hidden">
        <a [routerLink]="['/noticia', noticia.id]" class="text-[#04847C] hover:text-[#043D3D] font-semibold text-sm transition-colors duration-300 flex items-center justify-end">
          <!-- Icono visible en todas las pantallas -->
          <i class="fa-solid fa-chevron-right text-2xl ml-1"></i>
        </a>
      </div>
  
    </div>
    <!-- Fin de la iteración de noticias -->
  
    <!-- Mensaje cuando no hay noticias -->
    <div *ngIf="noticiasVisibles.length === 0" class="mt-8 p-4 bg-gray-100 rounded-lg text-center shadow-lg">
      <p class="text-gray-600 text-lg">No hay noticias recientes disponibles en este momento. Por favor, vuelve a consultar más tarde.</p>
    </div>
  
    <!-- Botón Ver más -->
    <div *ngIf="noticiasVisibles.length < noticias.length" class="mt-8 text-center">
      <button (click)="verMasNoticias()" class="bg-[#043D3D] hover:bg-[#032D2D] text-white font-bold py-3 px-6 rounded-full shadow-lg transition-colors duration-300">
        Mostrar más noticias <i class="fa-solid fa-angle-down ml-2"></i>
      </button>
    </div>
  </div>
</section>

<!-- Recorrido Virtual -->
<section #recorridoSection id="recorrido" class="py-16 px-16 bg-gray-100 opacity-0 translate-y-10 transition-all duration-1000 ease-out">
  <div class="container mx-auto text-center mb-8">
    <h2 class="text-4xl text-[#043D3D] font-bold uppercase tracking-wide animate-slideIn">Recorrido Virtual</h2>
  </div>
  
  <div class="container mx-auto max-w-4xl bg-white p-8 rounded-lg shadow-lg transform hover:translate-y-1 transition duration-300">
    <div class="overflow-hidden mb-4">
      <a href="https://www.utdelacosta.edu.mx/recorrido_virtual/">
        <img class="w-full h-60 object-cover" src="../../assets/img/universidad.jpg" alt="Recorrido Virtual">
      </a>
    </div>
    <p class="text-gray-700 text-center mb-6">Explora nuestras instalaciones desde la comodidad de tu hogar con nuestro recorrido virtual interactivo.</p>
    <div class="flex justify-center">
      <a href="https://www.utdelacosta.edu.mx/recorrido_virtual/" target="_blank" rel="noopener noreferrer" >
        <div class="text-center max-w-72 bg-[#043D3D] hover:bg-[#032D2D] text-white font-bold py-3 px-6 text-sm md:text-sm rounded-full transition duration-300">Ir a Recorrido Virtual</div>
      </a>
    </div>
  </div>
</section>

<!-- Componente Footer -->
<app-footer></app-footer>
<!-- Fin Footer -->

<script>
  // Ejemplo de animaciones en JavaScript para hacer que el contenido aparezca al hacer scroll
  window.addEventListener('scroll', function() {
    document.querySelectorAll('.animate-slideIn').forEach(function(element) {
      if (element.getBoundingClientRect().top < window.innerHeight) {
        element.classList.add('opacity-100', 'transform', 'translate-x-0');
      }
    });
  });
</script>