<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<div class="w-full h-screen overflow-hidden">
  <img class="object-cover w-full h-full" src="../../assets/img/universidad.jpg" alt="...">
</div>

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
  class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<br>
<br>

<!--Contenedor Eventos-->
<div class="container mx-auto bg-[#043D3D]">
  <h2 class="text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-poppins py-1 px-2 sm:py-2 sm:px-3 md:py-3 md:px-4 font-bold-700 text-white uppercase mb-1 sm:mb-2 md:mb-3">    
    Eventos Más Recientes</h2>
</div>

<div class="container mx-auto">
  <div class="container p-4 bg-white rounded-lg shadow-lg">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        
        <!-- Primer div superior -->
        <div class="col-span-1 lg:col-span-4 bg-white rounded-lg shadow-lg relative">
          <img src="../../assets/img/evento1.jpg" alt="Noticia del día" class="w-full h-48 object-cover rounded-t-lg">
          <div class="absolute inset-0 flex items-center">
            <h3 class="text-2xl sm:text-sm md:text font-poppins font-bold text-white">Conferencia sobre la drogadiccion
              en Poliforum</h3>
          </div>
          <div class="p-4">
            <p class="text-gray-600">Conferencia sobre la drogadicción en Poliforum</p>
          </div>
        </div>
        
        <!-- Tres divs abajo -->
        <div class="col-span-1 lg:col-span-1 bg-white rounded-lg border border-gray-200">
          <img src="../../assets/img/evento2.jpg" alt="Noticia de la semana" class="w-full h-32 object-cover rounded-t-lg ">
          <div class="p-4">
            <h3 class="text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-poppins py-1 px-2 sm:py-2 sm:px-3 md:py-3 md:px-4 font-bold text-white uppercase mb-1 sm:mb-2 md:mb-3">Noticia de la semana</h3>
          </div>
        </div>

        <div class="col-span-1 lg:col-span-1 bg-white rounded-lg border border-gray-200">
          <img src="../../assets/img/evento3.jpg" alt="Noticia de la semana" class="w-full h-32 object-cover rounded-t-lg">
          <div class="p-4">
            <h3 class="text-lg font-semibold text-gray-800">Noticia de la semana</h3>
          </div>
        </div>

        <div class="col-span-1 lg:col-span-1 bg-white rounded-lg border border-gray-200">
          <img src="../../assets/img/evento4.jpg" alt="Noticia de la semana" class="w-full h-32 object-cover rounded-t-lg">
          <div class="p-4">
            <h3 class="text-lg font-semibold text-gray-800">Noticia de la semana</h3>
          </div>
        </div>
        <div class="col-span-1 lg:col-span-1 bg-white rounded-lg border border-gray-200">
          <img src="../../assets/img/evento3.jpg" alt="Noticia de la semana" class="w-full h-32 object-cover rounded-t-lg">
          <div class="p-4">
            <h3 class="text-lg font-semibold text-gray-800">Noticia de la semana</h3>
          </div>
        </div>

      </div>
    </div>
    </div>
<!--Fin Eventos-->
<br>
<br>


<!--Inicio Noticias-->
<div class="container mx-auto mb-4 w-full bg-[#043D3D]">
    <h2 class="text-sm  sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-poppins py-1 px-2 sm:py-2 sm:px-3 md:py-3 md:px-4 font-bold-700 text-white uppercase mb-1 sm:mb-2 md:mb-3">

    Noticias</h2>
</div>

<!-- Contenedor principal -->
<div class="container mx-auto h-screen max-w-screen-md mb-24 px-4 sm:px-6 lg:px-8">
  <!-- Noticia 1 -->
  <div class="border rounded-lg shadow-lg overflow-hidden mb-8">
    <div class="bg-white rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
        <div class="relative flex lg:col-span-2 img-container">
          <div class="flex-1">
            <img src="../../assets/img/evento1.jpg" alt="Universidad Tecnológica de la Costa" class="object-cover h-full w-full">
          </div>
          <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2 absolute bottom-0 right-0 lg:static">
            <p class="text-4xl font-bold">12</p>
            <p class="text-md">Junio</p>
          </div>
        </div>
        <div class="p-2 lg:col-span-3 flex flex-col justify-between">
          <div>
            <h3 class="text-xl font-bold text-gray-800 mb-1">Titulo de la noticia</h3>
            <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
          </div>
          <div class="flex items-center justify-end">
            <a href="#" class="text-green-800 font-semibold text-sm">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Noticia 2 -->
  <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
    <div class="bg-white rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-5">
        <div class="relative flex lg:col-span-2 img-container">
          <div class="flex-1">
            <img src="../../assets/img/evento1.jpg" alt="Universidad Tecnológica de la Costa" class="object-cover h-full w-full">
          </div>
          <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2 absolute bottom-0 right-0 lg:static">
            <p class="text-4xl font-bold">12</p>
            <p class="text-md">Junio</p>
          </div>
        </div>
        <div class="p-2 lg:col-span-3 flex flex-col justify-between">
          <div>
            <h3 class="text-xl font-bold text-gray-800 mb-1">Titulo de la noticia</h3>
            <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
          </div>
          <div class="flex items-center justify-end">
            <a href="#" class="text-green-800 font-semibold text-sm">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Noticia 3 -->
  <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
  <!-- Noticia 2 -->
  <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
    <div class="bg-white rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-5">
        <div class="relative flex lg:col-span-2 img-container">
          <div class="flex-1">
            <img src="../../assets/img/evento1.jpg" alt="Universidad Tecnológica de la Costa" class="object-cover h-full w-full">
          </div>
          <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2 absolute bottom-0 right-0 lg:static">
            <p class="text-4xl font-bold">12</p>
            <p class="text-md">Junio</p>
          </div>
        </div>
        <div class="p-2 lg:col-span-3 flex flex-col justify-between">
          <div>
            <h3 class="text-xl font-bold text-gray-800 mb-1">Titulo de la noticia</h3>
            <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
          </div>
          <div class="flex items-center justify-end">
            <a href="#" class="text-green-800 font-semibold text-sm">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


  <div class="border shadow-lg overflow-hidden mb-4 p-2 bg-gray-100 rounded-lg">
    <a href="/eventos">
      <p class="text-md text-center">Mostrar más eventos <i class="fa-solid fa-angle-down"></i></p>
    </a>
  </div>

</div>
<!--FIN DE CONTENEDOR NOTICIAS-->

<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->