<!-- ========== HEADER ========== -->
<header id="navbarAcciona"
  class=" fixed top-0 left-0 right-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm py-3 md:py-0">
  <nav class="max-w-full w-full bg-[#043D3D]" aria-label="Global">
    <div class="relative lg:flex md:items-center md:justify-between">
      <div class="flex items-center justify-between">
        <a href="/admin/principal_admin">
          <img src="./assets/img/logo-ut.png" alt="Logo UT">
        </a>
        <div class="md:hidden">
          <button type="button"
            class="hs-collapse-toggle flex justify-center items-center size-9 text-sm font-semibold rounded-lg border border-gray-200 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none text-white hover:text-black"
            data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation"
            aria-label="Toggle navigation">
            <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <line x1="3" x2="21" y1="6" y2="6" />
              <line x1="3" x2="21" y1="12" y2="12" />
              <line x1="3" x2="21" y1="18" y2="18" />
            </svg>
            <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>
      </div>

      <div id="navbar-collapse-with-animation"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
        <div
          class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
          <div
            class="m-2 flex flex-col md:flex-row md:items-center md:justify-end py-2 md:py-0 md:ps-7 md:divide-y-0 md:divide-solid">

            <div
              class="hs-dropdown [--strategy:static] md:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] px-3 py-3 md:px- md:py-4">
              <a href="">
                <svg class="h-6 w-6 text-white" x-description="Heroicon name: outline/bell"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0">
                  </path>
                </svg>
              </a>
            </div>

            <div
              class="hs-dropdown [--strategy:static] md:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] py-3 md:px-3 md:py-4">
              <button type="button" class="flex items-center w-full text-white hover:opacity-80 font-medium text-base">
                <img class="h-8 w-8 rounded-full"
                  src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=320&amp;h=320&amp;q=80"
                  alt="">
              </button>

              <div
                class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 w-full hidden z-10 top-full end-3 max-w-60 bg-white md:shadow-2xl rounded-lg py-2 md:p-4 before:absolute before:-top-5 before:end-8 before:w-full before:h-5">
                <div class="md:grid md:grid-cols-1 lg:grid-cols-1">
                  <!-- Dropdown contenido para transparencia -->
                  <div class="flex flex-col mx-1 md:mx-0">
                    <a class="group flex gap-x-5 hover:bg-gray-100 rounded-lg p-4"
                      href="http://172.16.64.2:8080/dexter/login.jsp?modulo=0&tab=1">
            
                      <div class="grow">
                        <p class="font-medium text-gray-800">Mi perfil</p>
                      </div>
                    </a>

                    <a class="group flex gap-x-5 hover:bg-gray-100 rounded-lg p-4"
                      href="http://siest.utdelacosta.edu.mx/dexter/index.jsp?modulo=23">

                      <div class="grow">
                        <p class="font-medium text-gray-800">Cerrar Sesión</p>
                      </div>
                    </a>

                  </div>
                </div>
              </div>

              <!--OTRO-->

            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>


</header>

<!-- ================================================= END HEADER =================================================== -->