<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<!--Fin Boton de desplacamiento-->

<div class="container mx-auto mt-20 mb-10">
    <ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
        <li class="inline-flex items-center">
          <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="#">
            Inicio
          </a>
          <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </li>
        <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
          Calendario 2024.
        </li>
      </ol>   
    
      <div class="bg-[#043D3D] rounded-lg">
        <h2 class="text-3xl text-center font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4">Calendario</h2>
    </div>
    <div class="container">
      <div class="pdf-container bg-white">
        <iframe src="./assets/pdf/Calendario_2024.pdf" class="w-full h-[600px] bg-white"></iframe>
      </div>
           
    </div>

</div>



<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->
