<app-navbar-admin></app-navbar-admin>
<p id="inicio"></p>

<div class="mt-4">
  <ol class="flex items-center whitespace-nowrap ml-4 mt-24">
    <li class="inline-flex items-center">
      <a
        class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D]"
        href="/admin/principal_admin"
      >
        Panel Administrador
      </a>
      <svg
        class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </li>
    <li
      class="inline-flex items-center text-sm font-semibold text-gray-800 truncate"
      aria-current="page"
    >
      Profesores
    </li>
  </ol>
</div>

<div class="p-2 mx-auto">
  <div class="bg-[#043D3D] rounded-lg mt-8 mb-5">
    <h2
      class="text-3xl text-center font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4"
    >
      Profesores
    </h2>
  </div>

  <div
    [ngClass]="{ hidden: !isModalOpen }"
    class="fixed inset-0 z-50 overflow-y-auto bg-gray-900 bg-opacity-50 flex items-center justify-center p-4"
  >
    <div
      class="bg-white rounded-lg shadow-xl w-full max-w-2xl max-h-[90vh] overflow-y-auto"
    >
      <div class="flex justify-between items-center p-4 bg-white">
        <h3 class="text-xl font-bold text-gray-900">
          {{ currentProfesorId ? "Editar Profesor" : "Nuevo Profesor" }}
        </h3>
        <button
          type="button"
          class="text-gray-400 hover:text-gray-500"
          (click)="closeModal()"
        >
          <span class="sr-only">Cerrar</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <form
        [formGroup]="profesorForm"
        (ngSubmit)="onSubmit()"
        class="p-4 space-y-4"
      >
        <div class="space-y-4">
          <div>
            <label for="nombre" class="block text-sm font-medium text-gray-700"
              >Nombre</label
            >
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Nombre del Profesor"
              maxlength="50"
              required
              (keypress)="validateInput($event, 'text')"
            />
            <p
              *ngIf="
                profesorForm.get('nombre')?.invalid &&
                (profesorForm.get('nombre')?.dirty ||
                  profesorForm.get('nombre')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="profesorForm.get('nombre')?.errors?.['required']"
                >El nombre es requerido.</span
              >
              <span *ngIf="profesorForm.get('nombre')?.errors?.['maxlength']"
                >El nombre no puede tener más de 50 caracteres.</span
              >
            </p>
          </div>

          <div>
            <label
              for="apellido"
              class="block text-sm font-medium text-gray-700"
              >Apellido</label
            >
            <input
              type="text"
              id="apellido"
              formControlName="apellido"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Apellido del Profesor"
              maxlength="50"
              required
              (keypress)="validateInput($event, 'text')"
            />
            <p
              *ngIf="
                profesorForm.get('apellido')?.invalid &&
                (profesorForm.get('apellido')?.dirty ||
                  profesorForm.get('apellido')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="profesorForm.get('apellido')?.errors?.['required']"
                >El apellido es requerido.</span
              >
              <span *ngIf="profesorForm.get('apellido')?.errors?.['maxlength']"
                >El apellido no puede tener más de 50 caracteres.</span
              >
            </p>
          </div>

          <div>
            <label for="correo" class="block text-sm font-medium text-gray-700"
              >Correo Electrónico</label
            >
            <input
              type="email"
              id="correo"
              formControlName="correo"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Correo Electrónico"
              required
            />
            <p
              *ngIf="
                profesorForm.get('correo')?.invalid &&
                (profesorForm.get('correo')?.dirty ||
                  profesorForm.get('correo')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="profesorForm.get('correo')?.errors?.['required']"
                >El correo electrónico es requerido.</span
              >
              <span *ngIf="profesorForm.get('correo')?.errors?.['email']"
                >El correo electrónico no es válido.</span
              >
            </p>
          </div>

          <div>
            <label
              for="telefono"
              class="block text-sm font-medium text-gray-700"
              >Teléfono</label
            >
            <input
              type="text"
              id="telefono"
              formControlName="telefono"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Teléfono"
              maxlength="20"
              required
              (keypress)="validateInput($event, 'number')"
            />
            <p
              *ngIf="
                profesorForm.get('telefono')?.invalid &&
                (profesorForm.get('telefono')?.dirty ||
                  profesorForm.get('telefono')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="profesorForm.get('telefono')?.errors?.['required']"
                >El teléfono es requerido.</span
              >
              <span *ngIf="profesorForm.get('telefono')?.errors?.['maxlength']"
                >El teléfono no puede tener más de 20 caracteres.</span
              >
            </p>
          </div>

          <div>
            <label
              for="especialidad"
              class="block text-sm font-medium text-gray-700"
              >Especialidad</label
            >
            <input
              type="text"
              id="especialidad"
              formControlName="especialidad"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Especialidad"
              maxlength="100"
              required
              (keypress)="validateInput($event, 'text')"
            />
            <p
              *ngIf="
                profesorForm.get('especialidad')?.invalid &&
                (profesorForm.get('especialidad')?.dirty ||
                  profesorForm.get('especialidad')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span
                *ngIf="profesorForm.get('especialidad')?.errors?.['required']"
                >La especialidad es requerida.</span
              >
              <span
                *ngIf="profesorForm.get('especialidad')?.errors?.['maxlength']"
                >La especialidad no puede tener más de 100 caracteres.</span
              >
            </p>
          </div>

          <div>
            <label
              for="grado_academico"
              class="block text-sm font-medium text-gray-700"
              >Grado Académico</label
            >
            <input
              type="text"
              id="grado_academico"
              formControlName="grado_academico"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Grado Académico"
              maxlength="100"
              required
              (keypress)="validateInput($event, 'text')"
            />
            <p
              *ngIf="
                profesorForm.get('grado_academico')?.invalid &&
                (profesorForm.get('grado_academico')?.dirty ||
                  profesorForm.get('grado_academico')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span
                *ngIf="profesorForm.get('grado_academico')?.errors?.['required']"
                >El grado académico es requerido.</span
              >
              <span
                *ngIf="profesorForm.get('grado_academico')?.errors?.['maxlength']"
                >El grado académico no puede tener más de 100 caracteres.</span
              >
            </p>
          </div>

          <div>
            <label
              for="experiencia"
              class="block text-sm font-medium text-gray-700"
              >Experiencia</label
            >
            <input
              type="text"
              id="experiencia"
              formControlName="experiencia"
              class="border-2 border-[#EDEDED] block w-full rounded-md py-2 pl-3 pr-3 text-gray-900"
              placeholder="Años de Experiencia"
              required
              (keypress)="validateInput($event, 'number')"
            />
            <p
              *ngIf="
                profesorForm.get('experiencia')?.invalid &&
                (profesorForm.get('experiencia')?.dirty ||
                  profesorForm.get('experiencia')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span
                *ngIf="profesorForm.get('experiencia')?.errors?.['required']"
                >La experiencia es requerida.</span
              >
            </p>
          </div>

          <div>
            <label for="foto" class="block text-sm font-medium text-gray-700"
              >Foto del Profesor</label
            >
            <input
              type="file"
              id="foto"
              (change)="onFileChange($event)"
              class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100"
              accept="image/*"
              required
            />
            <p
              *ngIf="
                profesorForm.get('foto')?.invalid &&
                (profesorForm.get('foto')?.dirty ||
                  profesorForm.get('foto')?.touched)
              "
              class="mt-1 text-xs text-red-600"
            >
              <span *ngIf="profesorForm.get('foto')?.errors?.['required']"
                >La foto es requerida.</span
              >
              <span
                *ngIf="profesorForm.get('foto')?.errors?.['invalidFileType']"
                >Solo se permiten archivos de imagen menores a 5MB.</span
              >
            </p>
          </div>

          <div>
            <label
              for="tipo_profesor"
              class="block text-sm font-medium text-gray-700"
              >Tipo de Profesor</label
            >
            <div class="flex flex-col space-y-2">
              <label class="inline-flex items-center">
                <input
                  type="checkbox"
                  formControlName="tipoTiempoCompleto"
                  (change)="onTipoProfesorChange()"
                  class="form-checkbox text-indigo-600 h-4 w-4"
                />
                <span class="ml-2 text-gray-700">Tiempo Completo</span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="checkbox"
                  formControlName="tipoAsignatura"
                  (change)="onTipoProfesorChange()"
                  class="form-checkbox text-indigo-600 h-4 w-4"
                />
                <span class="ml-2 text-gray-700">Asignatura</span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="checkbox"
                  formControlName="tipoCursos"
                  class="form-checkbox text-indigo-600 h-4 w-4"
                  (change)="onTipoProfesorChange()"
                />
                <span class="ml-2 text-gray-700">Cursos</span>
              </label>
            </div>
            <p *ngIf="tipoProfesorError" class="mt-1 text-xs text-red-600">
              {{ tipoProfesorError }}
            </p>
          </div>
        </div>
      </form>

      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="submit"
          [disabled]="profesorForm.invalid || tipoProfesorError"
          (click)="onSubmit()"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#04847C] text-base font-medium text-white hover:bg-[#037c74] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#04847C] sm:ml-3 sm:w-auto sm:text-sm"
        >
          {{ currentProfesorId ? "Actualizar Profesor" : "Agregar Profesor" }}
        </button>
        <button
          type="button"
          (click)="closeModal()"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'hs-overlay-open': isViewModalOpen,
      hidden: !isViewModalOpen,
      'hs-overlay': true
    }"
    class="hs-overlay-backdrop-open:bg-gray-900/50 size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-auto"
  >
    <div
      class="hs-overlay-content mt-7 opacity-100 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto"
    >
      <div
        class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto"
      >
        <div class="flex justify-between items-center py-3 px-4 border-b">
          <h3 class="font-bold text-black font-medium-500">
            Detalles del Profesor
          </h3>
          <button
            type="button"
            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-200 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
            (click)="closeViewModal()"
          >
            <span class="sr-only">Cerrar</span>
            <svg
              class="flex-shrink-0 size-4 text-gray-800"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button>
        </div>
        <div class="p-6 overflow-y-auto">
          <div
            *ngIf="selectedProfesor"
            class="grid grid-cols-1 md:grid-cols-2 gap-6"
          >
            <div class="flex flex-col space-y-4">
              <div>
                <h4 class="text-lg font-semibold text-gray-700">
                  Nombre Completo
                </h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.nombre }} {{ selectedProfesor.apellido }}
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-gray-700">
                  Correo Electrónico
                </h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.correo }}
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-gray-700">Teléfono</h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.telefono }}
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-gray-700">
                  Especialidad
                </h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.especialidad }}
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-gray-700">
                  Grado Académico
                </h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.grado_academico }}
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-gray-700">Experiencia</h4>
                <p class="text-sm text-gray-900">
                  {{ selectedProfesor.experiencia }} años
                </p>
              </div>
            </div>
            <div class="flex flex-col items-center justify-center">
              <h4 class="text-lg font-semibold text-gray-700 mb-4">Foto</h4>
              <img
                *ngIf="selectedProfesor.foto"
                [src]="
                  sanitizer.bypassSecurityTrustResourceUrl(
                    baseImageUrl + selectedProfesor.foto
                  )
                "
                alt="Foto del profesor"
                class="w-40 h-40 object-cover rounded-md border"
              />
              <p *ngIf="!selectedProfesor.foto" class="text-gray-500">
                No disponible
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div
    class="rounded-lg border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default sm:px-7.5 xl:pb-1 my-2"
  >
    <div class="max-w-full">
      <div class="border-b border-gray-200">
        <nav class="flex space-x-1" aria-label="Tabs" role="tablist">
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-[#04847C] hs-tab-active:text-[#04847C] py-4 px-2.5 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-[#04847C] focus:outline-none focus:text-[#04847C] disabled:opacity-50 disabled:pointer-events-none active"
            id="tabs-with-icons-item-1"
            data-hs-tab="#tabs-with-icons-1"
            aria-controls="tabs-with-icons-1"
            role="tab"
            (click)="switchTab('active')"
          >
            Todos
          </button>
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-[#04847C] hs-tab-active:text-[#04847C] py-4 px-2.5 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-[#04847C] focus:outline-none focus:text-[#04847C] disabled:opacity-50 disabled:pointer-events-none"
            id="tabs-with-icons-item-2"
            data-hs-tab="#tabs-with-icons-2"
            aria-controls="tabs-with-icons-2"
            role="tab"
            (click)="switchTab('inactive')"
          >
            Papelera
          </button>
        </nav>
      </div>

      <div class="mt-3">
        <div
          id="tabs-with-icons-1"
          role="tabpanel"
          aria-labelledby="tabs-with-icons-item-1"
        >
          <div class="flex flex-wrap items-center">
            <div class="flex flex-col lg:w-7/12 sm:w-12/12 md:w-7/12 w-full">
              <div class="w-full">
                <div class="relative w-full">
                  <div class="relative w-full">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5 w-full"
                    >
                      <svg
                        class="flex-shrink-0 size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                      </svg>
                    </div>
                    <input
                      (input)="filterGlobal($event)"
                      class="py-3 ps-10 pe-4 block w-full border-input-bord-color rounded-lg text-sm focus:border-input-focus-color focus:ring-input-focus-color disabled:opacity-50 disabled:pointer-events-none border-2 border-[#EDEDED]"
                      type="text"
                      placeholder="Ingresa tu búsqueda"
                      value=""
                      data-hs-combo-box-input=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col lg:w-5/12 sm:w-12/12 md:w-5/12 text-right w-full"
            >
              <div class="w-full">
                <button
                  type="button"
                  class="py-3 my-2 px-4 inline-flex button-secondary items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-color text-white hover:bg-primary-color-90 disabled:opacity-50 disabled:pointer-events-none"
                  (click)="openModal()"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Registrar Profesor
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-col mb-5">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="border rounded-lg overflow-hidden my-2">
                  <p-table
                    #dt
                    [value]="filteredProfesores"
                    [paginator]="true"
                    [rows]="5"
                    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="[
                      'nombre',
                      'apellido',
                      'correo',
                      'telefono'
                    ]"
                    [tableStyleClass]="'min-w-full divide-y'"
                    [resizableColumns]="true"
                  >
                    <ng-template pTemplate="header">
                      <tr
                        class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
                      >
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="nombre"
                        >
                          <div class="flex">
                            Nombre
                            <p-sortIcon field="nombre"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="apellido"
                        >
                          <div class="flex">
                            Apellido
                            <p-sortIcon field="apellido"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="correo"
                        >
                          <div class="flex">
                            Correo Electrónico
                            <p-sortIcon field="correo"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          pSortableColumn="telefono"
                        >
                          <div class="flex">
                            Teléfono
                            <p-sortIcon field="telefono"></p-sortIcon>
                          </div>
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                        >
                          <div class="flex">Acciones</div>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-profesor>
                      <tr class="divide-x divide-gray-200 bg-neutral-100">
                        <td class="px-3 py-2 text-sm text-black">
                          {{ profesor.nombre }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          {{ profesor.apellido }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          {{ profesor.correo }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          {{ profesor.telefono }}
                        </td>
                        <td class="px-3 py-2 text-sm text-black">
                          <div class="flex items-center space-x-3.5">
                            <button
                              (mouseenter)="mostrar($event.target)"
                              (mouseleave)="mostrar($event.target)"
                              (click)="openModal(profesor)"
                              class="hover:text-primary"
                            >
                              <div
                                class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                              >
                                <div
                                  class="text-[#04847C] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                >
                                  <i class="fas fa-edit"></i>
                                  <div
                                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                    role="tooltip"
                                  >
                                    <div
                                      class="py-3 px-4 border-b border-gray-200"
                                    >
                                      <h4 class="font-semibold text-gray-800">
                                        Editar
                                      </h4>
                                    </div>
                                    <ul class="py-3 px-4 space-y-1">
                                      <li>
                                        <div
                                          class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                        >
                                          Actualizar la información del
                                          profesor.
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <button
                              (mouseenter)="mostrar($event.target)"
                              (mouseleave)="mostrar($event.target)"
                              (click)="openViewModal(profesor)"
                              class="hover:text-primary"
                            >
                              <div
                                class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                              >
                                <div
                                  class="text-[#47B0A4] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                  <div
                                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                    role="tooltip"
                                  >
                                    <div
                                      class="py-3 px-4 border-b border-gray-200"
                                    >
                                      <h4 class="font-semibold text-gray-800">
                                        Detalles
                                      </h4>
                                    </div>
                                    <ul class="py-3 px-4 space-y-1">
                                      <li>
                                        <div
                                          class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                        >
                                          Ver detalles del profesor.
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <button
                              (mouseenter)="mostrar($event.target)"
                              (mouseleave)="mostrar($event.target)"
                              (click)="moveToTrash(profesor.id)"
                              class="hover:text-primary"
                            >
                              <div
                                class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                              >
                                <div
                                  class="text-[#EF4444] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                >
                                  <i class="fa fa-ban" aria-hidden="true"></i>
                                  <div
                                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                    role="tooltip"
                                  >
                                    <div
                                      class="py-3 px-4 border-b border-gray-200"
                                    >
                                      <h4 class="font-semibold text-gray-800">
                                        Desactivar
                                      </h4>
                                    </div>
                                    <ul class="py-3 px-4 space-y-1">
                                      <li>
                                        <div
                                          class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                        >
                                          Mover el profesor a la papelera.
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="5">No se encontraron resultados.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Papelera de Profesores -->
        <div
          id="tabs-with-icons-2"
          class="hidden"
          role="tabpanel"
          aria-labelledby="tabs-with-icons-item-2"
        >
          <div class="min-h-60 flex flex-col bg-white rounded-xl">
            <div class="flex flex-col mb-5">
              <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                  <div class="border rounded-lg overflow-hidden my-2">
                    <p-table
                      #dt
                      [value]="papeleraProfesores"
                      [paginator]="true"
                      [rows]="5"
                      currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
                      [showCurrentPageReport]="true"
                      [globalFilterFields]="[
                        'nombre',
                        'apellido',
                        'correo',
                        'telefono'
                      ]"
                      [tableStyleClass]="'min-w-full divide-y'"
                      [resizableColumns]="true"
                    >
                      <ng-template pTemplate="header">
                        <tr
                          class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
                        >
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="nombre"
                          >
                            <div class="flex">
                              Nombre
                              <p-sortIcon field="nombre"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="apellido"
                          >
                            <div class="flex">
                              Apellido
                              <p-sortIcon field="apellido"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="correo"
                          >
                            <div class="flex">
                              Correo Electrónico
                              <p-sortIcon field="correo"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                            pSortableColumn="telefono"
                          >
                            <div class="flex">
                              Teléfono
                              <p-sortIcon field="telefono"></p-sortIcon>
                            </div>
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                          >
                            <div class="flex">Acciones</div>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-profesor>
                        <tr class="divide-x divide-gray-200 bg-neutral-100">
                          <td class="px-3 py-2 text-sm text-black">
                            {{ profesor.nombre }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            {{ profesor.apellido }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            {{ profesor.correo }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            {{ profesor.telefono }}
                          </td>
                          <td class="px-3 py-2 text-sm text-black">
                            <div class="flex items-center space-x-3.5">
                              <button
                                (mouseenter)="mostrar($event.target)"
                                (mouseleave)="mostrar($event.target)"
                                (click)="activateProfesor(profesor.id)"
                                class="hover:text-primary"
                              >
                                <div
                                  class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                                >
                                  <div
                                    class="text-[#04847C] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                  >
                                    <i
                                      class="fa-solid fa-arrow-rotate-left"
                                    ></i>
                                    <div
                                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                      role="tooltip"
                                    >
                                      <div
                                        class="py-3 px-4 border-b border-gray-200"
                                      >
                                        <h4 class="font-semibold text-gray-800">
                                          Activar
                                        </h4>
                                      </div>
                                      <ul class="py-3 px-4 space-y-1">
                                        <li>
                                          <div
                                            class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                          >
                                            Volver a activar al profesor.
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </button>
                              <button
                                (mouseenter)="mostrar($event.target)"
                                (mouseleave)="mostrar($event.target)"
                                (click)="openViewModal(profesor)"
                                class="hover:text-primary"
                              >
                                <div
                                  class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                                >
                                  <div
                                    class="text-[#47B0A4] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                  >
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <div
                                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                      role="tooltip"
                                    >
                                      <div
                                        class="py-3 px-4 border-b border-gray-200"
                                      >
                                        <h4 class="font-semibold text-gray-800">
                                          Ver Detalles
                                        </h4>
                                      </div>
                                      <ul class="py-3 px-4 space-y-1">
                                        <li>
                                          <div
                                            class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                          >
                                            Ver detalles del profesor.
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </button>
                              <button
                                (mouseenter)="mostrar($event.target)"
                                (mouseleave)="mostrar($event.target)"
                                (click)="deleteProfesor(profesor.id)"
                                class="hover:text-primary"
                              >
                                <div
                                  class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block"
                                >
                                  <div
                                    class="text-[#EF4444] max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm"
                                  >
                                    <i
                                      class="fa fa-trash"
                                      aria-hidden="true"
                                    ></i>
                                    <div
                                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                                      role="tooltip"
                                    >
                                      <div
                                        class="py-3 px-4 border-b border-gray-200"
                                      >
                                        <h4 class="font-semibold text-gray-800">
                                          Eliminar
                                        </h4>
                                      </div>
                                      <ul class="py-3 px-4 space-y-1">
                                        <li>
                                          <div
                                            class="inline-flex items-center gap-x-3 text-sm text-gray-800 text-wrap"
                                          >
                                            Eliminar definitivamente al
                                            profesor.
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="5">No se encontraron resultados.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-scroll-top-button></app-scroll-top-button>
<app-footer-admin></app-footer-admin>
