<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<!--Boton de desplacamiento -->
<button id="scrollTopButton" (click)="scrollToSection('inicio')"
  class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-black hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="#">
        Home
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-black hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="#">
        Cursos
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
      Nombre del curso
    </li>
  </ol>
<div class="container mx-auto mb-8">

    <div class="bg-[#043D3D] rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-8">Cursos</h2>
    </div>

    <div class="container justify-center">
    <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      
      <div class="bg-[#EEEEEE] rounded-lg p-4 transform hover:scale-105 transition duration-300 flex flex-col justify-between h-full">
        <img class="w-full max-h-auto rounded-t-lg" src="./assets/img/BANNER INGLES ADULTO E INFANTIL.jpg" alt="Image Description">
        <div class="flex flex-col flex-grow">
          <div class="mb-8">
            <h3 class="text-center text-2xl font-extrabold text-[#043D3D]">Inglés</h3>
            <p class="text-black text-xl mt-4">Aprende inglés de manera efectiva con nuestras clases sabatinas, diseñadas para niños, adolescentes y adultos.</p>
          </div>
          <a href="#" class="bg-[#043D3D] mt-auto block w-full py-3 px-6 text-center rounded-md text-white font-medium">
            Aplicar
          </a>
        </div>
      </div>
      
  
      <div class="bg-[#EEEEEE] rounded-lg p-4 transform hover:scale-105 transition duration-300 flex flex-col justify-between h-full">
        <img class="w-full max-h-auto rounded-t-lg" src="./assets/img/TOELF.jpg" alt="Image Description">
        <div class="flex flex-col flex-grow">
          <div class="mb-8">
            <h3 class="text-center text-2xl font-extrabold text-[#043D3D]">Inglés</h3>
            <p class="text-black text-xl mt-4">Aprende inglés de manera efectiva con nuestras clases sabatinas, diseñadas para niños, adolescentes y adultos.</p>
          </div>
          <a href="#" class="bg-[#043D3D] mt-auto block w-full py-3 px-6 text-center rounded-md text-white font-medium">
            Aplicar
          </a>
        </div>
      </div>

      <div class="bg-[#EEEEEE] rounded-lg p-4 transform hover:scale-105 transition duration-300 flex flex-col justify-between h-full">
        <img class="w-full max-h-auto rounded-t-lg" src="./assets/img/CLENN.jpg" alt="Image Description">
        <div class="flex flex-col flex-grow">
          <div class="mb-8">
            <h3 class="text-center text-2xl font-extrabold text-[#043D3D]">Inglés</h3>
            <p class="text-black text-xl mt-4">Aprende inglés de manera efectiva con nuestras clases sabatinas, diseñadas para niños, adolescentes y adultos.</p>
          </div>
          <a href="#" class="bg-[#043D3D] mt-auto block w-full py-3 px-6 text-center rounded-md text-white font-medium">
            Aplicar
          </a>
        </div>
      </div>

      <div class="bg-[#EEEEEE] rounded-lg p-4 transform hover:scale-105 transition duration-300 flex flex-col justify-between h-full">
        <img class="w-full max-h-auto rounded-t-lg" src="./assets/img/TOELF.jpg" alt="Image Description">
        <div class="flex flex-col flex-grow">
          <div class="mb-8">
            <h3 class="text-center text-2xl font-extrabold text-[#043D3D]">Inglés</h3>
            <p class="text-black text-xl mt-4">Aprende inglés de manera efectiva con nuestras clases sabatinas, diseñadas para niños, adolescentes y adultos.</p>
          </div>
          <a href="#" class="bg-[#043D3D] mt-auto block w-full py-3 px-6 text-center rounded-md text-white font-medium">
            Aplicar
          </a>
        </div>
      </div>
  
    </div>
</div>
  </div>
  



<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->