 <!--Componente Navbar-->
 <app-navbar></app-navbar>
 <p id="inicio"></p>
 <!--Fin Navbar-->

 <form class="max-w-md mx-auto mt-20 p-6 bg-white border rounded-lg shadow-lg mb-10 mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">Universidad tecnologica de la costa</h2>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="name">
      Nombre:
    </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Enter your name">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
      Correo:
    </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="feedback">
      Mensaje:
    </label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="feedback" rows="5" placeholder="Enter your feedback"></textarea>
    </div>
    <div class="items-center">
        <button class="bg-[#043D3D] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Enviar
        </button>
    </div>
    
</form>

 <!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->