<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
  class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="/principal">
        Inicio
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </li>
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="/becas">
          Becas
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </li>
      <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
        Beca compañere
    </li>
  </ol>

<div class="container mt-2">
    <div class="bg-[#043D3D] rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4">Becas</h2>
    </div>
    <div class="flex justify-center">
        <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <div class="flex flex-col bg-white w-80 border border-gray-200 shadow-sm rounded-xl p-4 md:p-5">
            <p class="text-xl font-bold">Beca compañero</p>
            <p class="mt-2 text-black mb-4">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="/info_becas" class="w-full bg-[#043D3D] text-white text-center p-1 rounded-lg">Ver más información 
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>
          
          <div class="flex flex-col bg-white w-80 border border-gray-200 shadow-sm rounded-xl p-4 md:p-5">
            <p class="text-xl font-bold">Beca compañero</p>
            <p class="mt-2 text-black mb-4">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="/info_becas" class="w-full bg-[#043D3D] text-white text-center p-1 rounded-lg">Ver más información 
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>
          
          <div class="flex flex-col bg-white w-80 border border-gray-200 shadow-sm rounded-xl p-4 md:p-5">
            <p class="text-xl font-bold">Beca compañero</p>
            <p class="mt-2 text-black mb-4">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="/info_becas" class="w-full bg-[#043D3D] text-white text-center p-1 rounded-lg">Ver más información 
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>

          <div class="flex flex-col bg-white w-80 border border-gray-200 shadow-sm rounded-xl p-4 md:p-5">
            <p class="text-xl font-bold">Beca compañero</p>
            <p class="mt-2 text-black mb-4">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="/info_becas" class="w-full bg-[#043D3D] text-white text-center p-1 rounded-lg">Ver más información 
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>

        </div>
    </div>
</div>

<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->