<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
  class="hidden fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<br><br><br>
<div class="container mt-20">
    <div class="bg-[#043D3D] rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4">Dirección en ciencias agropecuarias</h2>
    </div>
    <div class="flex justify-center">
        <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Ingenieria en  Agrobiotecnología
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Ingenieria en Procesos Alimentario
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Ingenieria en Acuicultura
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-[#043D3D] mt-20 rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4">Dirección de negocios</h2>
    </div>
    <div class="flex justify-center">
        <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Licenciatura en turismo
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards2.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Licenciatura en administración
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards2.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Licenciatura en mercadotecnia
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards2.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Licenciatura en gastronomía
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards2.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        T.S.U. en contaduría
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards2.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
            
        </div>
    </div>
    

    <div class="bg-[#043D3D] mt-20 rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-3">Dirección de tecnologías de la información</h2>
    </div>
    <div class="flex justify-center mb-20">
        <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
            <div class="flex flex-col bg-white border shadow-sm rounded-xl w-64 h-64 mx-auto relative">
                <div class="absolute top-0 left-0 m-2">
                    <span class="relative flex items-center text-white">
                        Ingenieria en desarrollo de software multiplataforma
                    </span>
                </div>
                <a href="">
                    <img class="w-full h-full rounded-lg" src="./assets/img/img-cards3.png" alt="Image Description">
                
                <div class="absolute bottom-0 right-0 m-2">
                    <span class="relative flex items-center text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </div>
                </a>
            </div>
        </div>
    </div>
    
</div>


<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->