.hs-overlay {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hs-overlay-open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.hs-overlay-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.pointer-events-auto {
  pointer-events: auto;
}
