<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
    class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
    <i class="fa-solid fa-chevron-up"></i>
</button>

<ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] "
            href="/principal">
            Inicio
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
        </svg>
    </li>
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] "
            href="/becas">
            UTC
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
        </svg>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
        Unidades Académicas
    </li>
</ol>

<!--Contenedor de Cards Unidades Academicas -->
<div class=" mt-24 ml-4">
  <ol class="flex items-center whitespace-nowrap">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" href="/principal">
        Inicio
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" href="#">
        UTC
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Instalaciones Academicas
    </li>
  </ol>
</div>

<div class="container mt-12">


  <div class="bg-[#043D3D] w-full">
    <h3 class="text-2xl font-poppins font-bold text-white">
      Instalaciones Academicas
    </h3>
  </div>

   <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
  </div>

  <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
  </div>

  <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
    <div class="bg-gray-50 rounded-lg p-4 animate-pulse">
      <ul class="space-y-3">
        <li class="w-full h-60 bg-gray-300 rounded-lg"></li>
      </ul>
    </div>
  </div>

<!--INFORMACION DE LAS CARDS UNA VEZ CARGADAS-->

  <div *ngIf="!isLoading" id="cardsContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas8.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
      
      <div class="absolute inset-0 flex items-center justify-center">
        <h3 class="text-2xl font-poppins font-bold text-white">
          Rectoria
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas1.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
          Vinculacion
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas3.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
          Edificio de Ing. en sistemas
        </h3>
      </div>
    </div>
  
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas6.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
          Edificio de Gastronomia 
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas5.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-4 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
        Edificio de Contaduria
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas7.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
        Edificio de Turismo
        </h3>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas9.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
        Edificio de Agropecuario
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas8.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
        Edificio de Agropecuario
        </h3>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-4 relative">
      <img src="../../assets/img/unidadesacademicas2.jpg" alt="Card Image"
        class="w-full h-full object-cover rounded-lg">
        
      <div class="absolute inset-1 flex items-center justify-center w-full">
        <h3 class="text-2xl font-poppins font-bold text-white">
        Edificio de Aquicultura
        </h3>
      </div>
    </div>
  </div>
</div>


<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->
