<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<br>
<br>
<br>


    <div class="w-full  overflow-hidden">
      </div>
      
      <button id="scrollTopButton" (click)="scrollToSection('inicio')"
        class="hidden fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
        <i class="fa-solid fa-chevron-up"></i>
      </button>


      <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas1.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas2.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
              
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas3.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas4.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas5.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas6.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas7.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas8.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
             
            </div>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <img src="../../assets/img/unidadesacademicas9.jpg" alt="Card Image" class="w-full h-full object-cover rounded-t-lg">
            
            </div>
          </div>
          
      </div>


<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->