<!--Componente Navbar-->
<app-navbar-admin></app-navbar-admin>
<p id="inicio"></p>
<!--Fin Navbar-->

<div class="bg-[#043D3D] text-white h-60 fixed top-0 left-0 right-0 z-40">
  <div class="container mx-auto px-4">
  </div>
</div>

<main class="relative mt-32 z-40">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 md:px-8 md:pb-16">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
        <aside class="py-6 lg:col-span-3">
          <nav class="flex flex-col space-y-2" aria-label="Tabs" role="tablist" data-hs-tabs-vertical="true">

            <button type="button" id="vertical-tab-with-border-item-1" data-hs-tab="#vertical-tab-with-border-1"
              aria-controls="vertical-tab-with-border-1" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium active">
              <i
                class="fas fa-solid fa-house hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Inicio</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-2" data-hs-tab="#vertical-tab-with-border-2"
              aria-controls="vertical-tab-with-border-2" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-solid fa-users hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Usuarios</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-3" data-hs-tab="#vertical-tab-with-border-3"
              aria-controls="vertical-tab-with-border-3" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-solid fa-newspaper hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Noticias</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-4" data-hs-tab="#vertical-tab-with-border-4"
              aria-controls="vertical-tab-with-border-4" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-regular fa-calendar-check hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Eventos</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-5" data-hs-tab="#vertical-tab-with-border-5"
              aria-controls="vertical-tab-with-border-5" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-solid fa-envelope-open-text hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Becas</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-6" data-hs-tab="#vertical-tab-with-border-6"
              aria-controls="vertical-tab-with-border-6" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-solid fa-photo-film hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Galería</span>
            </button>

            <button type="button" id="vertical-tab-with-border-item-7" data-hs-tab="#vertical-tab-with-border-7"
              aria-controls="vertical-tab-with-border-7" role="tab"
              class="hs-tab-active:bg-teal-50 hs-tab-active:border-table-header-color hs-tab-active:text-teal-700 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <i
                class="fa-solid fa-calendar-days hs-tab-active:text-table-header-color text-gray-400 group-hover:text-gray-500 mr-2 w-8"></i>
              <span class="truncate">Calendario</span>
            </button>
          </nav>


        </aside>

        <!--CONTENIDO-->
        <div class="lg:col-span-9">
          <div id="vertical-tab-with-border-1" role="tabpanel" aria-labelledby="vertical-tab-with-border-item-1">


            <div class="grid grid-cols-1 gap-2 md:grid-cols-1 lg:grid-cols-2 m-4">
              <div class="rounded-xl w-full mr-2">
                <img src="https://images.ctfassets.net/w6r2i5d8q73s/2MHjavSoOO1nuNibEA6nMq/8c7571b038849fb12e0ea585220def8a/L1_1_2_columns_filled_templates_bar_graph_001?fm=webp&q=75">
              </div>
              <div class="rounded-xl w-full mr-2">
                <img src="https://support.content.office.net/es-es/media/442d0e69-6716-420c-a8a9-75f580a5a5d7.png">
              </div>
            </div>
          </div>

          <div id="vertical-tab-with-border-2" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-2">
            <app-not-found></app-not-found>
          </div>

          <div id="vertical-tab-with-border-3" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-3">
            <app-noticia></app-noticia>
          </div>

          <div id="vertical-tab-with-border-4" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-3">
            <app-evento></app-evento>
          </div>

          <div id="vertical-tab-with-border-5" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-3">
            <app-agregar-beca></app-agregar-beca>
          </div>

          <div id="vertical-tab-with-border-6" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-3">
            <app-not-found></app-not-found>
          </div>

          <div id="vertical-tab-with-border-7" class="hidden" role="tabpanel"
            aria-labelledby="vertical-tab-with-border-item-3">
            <app-agregar-calendario></app-agregar-calendario>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>


