<!-- Componente Navbar -->
<app-navbar-admin></app-navbar-admin>
<p id="inicio"></p>
<!-- Fin Navbar -->

<div class="p-4 mb-4 mx-auto">
  <div class="bg-gradient-to-r from-primary-color to-[#065555] text-white mt-24 p-8 rounded-md shadow-2xl">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-3xl md:text-5xl font-extrabold mb-12 text-center">
        Panel de Administración
      </h1>
      <p class="text-lg font-light mb-8">Gestiona todas las secciones administrativas desde un solo lugar.</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

        <!-- Botón Noticias -->
        <a href="/admin/noticia"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-newspaper text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Noticias</span>
        </a>

        <!-- Botón Evento -->
        <a href="/admin/evento"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-calendar-check text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Eventos</span>
        </a>

        <!-- Botón Convocatoria -->
        <a href="/admin/convocatoria"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-bullhorn text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Convocatorias</span>
        </a>


        <!-- Botón Becas -->
        <a href="/admin/agregar-beca"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-graduation-cap text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Becas</span>
        </a>

        <!-- Botón Profesores -->
        <a href="/admin/agregar-profesor"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-chalkboard-teacher text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Profesores</span>
        </a>

        <!-- Botón Cursos -->
        <a href="/admin/agregar-curso"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-book text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Cursos</span>
        </a>

        <!-- Botón Galería -->
        <a href="/admin/instalacion"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-images text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Galería</span>
        </a>

        <!-- Botón Bolsa de Trabajo -->
        <a href="/admin/agregar-bolsadetrabajo"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-briefcase text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Bolsa de Trabajo</span>
        </a>

        <!-- Botón Calendario -->
        <a href="/admin/agregar-calendario"
          class="group flex flex-col items-center bg-white text-primary-color p-8 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
          <i class="fa-solid fa-calendar-alt text-6xl mb-4 group-hover:text-secondary-color transition-colors duration-300"></i>
          <span class="text-2xl font-bold">Calendario</span>
        </a>

      </div>
    </div>
  </div>
</div>
