<app-navbar></app-navbar>
<app-redes-sociales></app-redes-sociales>
<p id="inicio"></p>
<!--Fin Navbar-->

<button id="scrollTopButton" (click)="scrollToSection('inicio')"
    class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-secondary-color text-white w-12 h-12 rounded-full shadow-lg hover:bg-secondary-color hover:opacity-90 hover: focus:outline-none focus:ring-2 focus:ring-white focus:ring-opacity-50">
    <i class="fa-solid fa-chevron-up"></i>
</button>

<ol class="flex flex-wrap items-center whitespace-nowrap ml-4 mt-24 space-x-2 sm:space-x-4 mb-8">
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-primary-color focus:outline-none focus:text-primary-color "
            href="/principal">
            Inicio
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
        </svg>
    </li>
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-primary-color focus:outline-none focus:text-primary-color "
            href="/becas">
            Hora recreativa
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
        </svg>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-primary-color truncate" aria-current="page">
        Taller de lectura
    </li>
</ol>

<div class="container mt-2">
    <div class="bg-primary-color rounded-lg">
        <h2 class="text-3xl font-poppins py-2 px-2 font-bold-700 text-white uppercase mb-4">Taller de lectura</h2>
    </div>

    <div class="flex justify-center items-center w-full mt-10 mb-10">
        <div class="flex flex-col bg-white border shadow-sm rounded-xl w-9/12">

            <section class="bg-white p-6 rounded-lg shadow-md">
                <div class="mb-6">
                    <img src=".\assets\img\galeria\lectura.jpg" alt="Taller de Lectura"
                        class="w-full h-96 rounded-lg shadow-md object-cover">
                </div>

                <p class="mb-6 border-l-4 border-black p-4 text-gray-800">
                    Bienvenidos a la Sala de Lectura de nuestra Universidad, un espacio concebido para fomentar el
                    estudio y la investigación en un entorno tranquilo y bien equipado. Aquí, tanto estudiantes como
                    profesores y visitantes pueden acceder a una extensa colección de libros, revistas académicas,
                    periódicos y recursos digitales diseñados para apoyar la excelencia académica.
                </p>

                <div class="grid grid-cols-2">
                    <div class="w-auto object-cover h-44 m-1">
                      <img src="./assets/img/evento1.jpg" alt="" class="w-full h-full object-cover rounded-lg">
                    </div>
                    <div class="w-auto object-cover h-44 m-1">
                      <img src="./assets/img/evento2.jpg" alt="" class="w-full h-full object-cover rounded-lg">
                    </div>
                  </div>
                  <div class="grid grid-cols-1">
                    <div class="w-auto object-cover h-44 m-1">
                      <img src="./assets/img/evento3.jpg" alt="" class="w-full h-full object-cover rounded-lg">
                    </div>
                  </div>
                  
                
            </section>
        </div>
    </div>
</div>

