<app-navbar></app-navbar>

<div class="flex flex-col min-h-screen">
  <main class="flex-grow">

    <p id="inicio"></p>

    <ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
      <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D]" href="/principal">
          Inicio
        </a>
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </li>
      <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D]" href="/unidades_academicas">
          Unidades Académicas
          <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </a>
      </li>
      <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
        {{ instalacion?.nombre }}
      </li>
    </ol>

    <div class="container mx-auto">
      <div class="bg-[#043D3D] w-full mb-8 rounded-lg">
        <h3 class="text-2xl px-2 py-2 font-poppins font-bold text-white">
          {{ instalacion?.nombre }}
        </h3>
      </div>

      <div *ngFor="let month of groupedImages | keyvalue: sortByMonth">
        <h4 class="text-sm mt-4 p-2 font-poppins font-bold text-black capitalize">{{ month.key }}</h4>
        <hr>
        
        <ngx-masonry class="mx-auto">
          <div ngxMasonryItem class="masonry-item p-2 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5" *ngFor="let image of month.value">
            <img [src]="image.url" [alt]="image.alt" (click)="openModal(image)"
                 class="w-full h-auto rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out cursor-pointer">
          </div>
        </ngx-masonry>
      </div>
    </div>

  </main>

  <app-footer></app-footer>
</div>

<div *ngIf="selectedImage" id="hs-vertically-centered-modal" class="fixed inset-0 z-50 overflow-y-auto bg-gray-900 bg-opacity-50 flex items-center justify-center p-4">
  <div class="relative max-w-[90vh] w-full">
    <img [src]="selectedImage.url" [alt]="selectedImage.alt" class="max-h-[90vh] w-[90vh] mx-auto rounded-md">
    <button (click)="closeModal()" class="absolute top-2 right-2 bg-red-500 w-8 h-8 rounded-full text-white text-2xl flex items-center justify-center">&times;</button>
  </div>
</div>

