<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<ol class="flex items-center whitespace-nowrap ml-4 mt-24 mb-8">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="/principal">
        Inicio
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="/carreras">
        Carreras
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
        Acuicultura
    </li>
  </ol>


<div class="container mx-auto">

    <div class="bg-[#043D3D] w-full mb-8 rounded-lg">
        <h3 class="text-2xl px-2 py-2 font-poppins font-bold text-white">
          Rectoria
        </h3>
    </div>

    <div *ngFor="let month of groupedImages | keyvalue: sortByMonth">
          <h4 class="text-sm mt-4 p-2 font-poppins font-bold text-black">{{ month.key }}</h4><hr>
        
    
        <ngx-masonry class="mx-auto">
          <div ngxMasonryItem class="masonry-item p-2 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5" *ngFor="let image of month.value">
            <img [src]="image.url" [alt]="image.alt" class="w-full h-auto rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out" data-hs-overlay="#hs-slide-down-animation-modal">
          </div>
        </ngx-masonry>
      </div>
</div>


<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->
