 <!--Componente Navbar-->
 <app-navbar></app-navbar>

 <p id="inicio"></p>

<!--Boton de desplacamiento -->
<button id="scrollTopButton" (click)="scrollToSection('inicio')"
    class="hidden z-50 fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-[#04847C] text-[#ffffff] w-12 h-12 rounded-full shadow-lg hover:bg-[#04847C] hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-[#FFFFFF] focus:ring-opacity-50">
    <i class="fa-solid fa-chevron-up"></i>
</button>


 <div class=" mt-4">
    <ol class="flex flex-wrap items-center whitespace-nowrap ml-4 mt-24 space-x-2 sm:space-x-4">
        <li class="inline-flex items-center">
          <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] " href="/principal">
            Inicio
          </a>
          <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </li>
        <li class="inline-flex items-center">
            <a class="flex items-center text-sm text-gray-500 hover:text-[#043D3D] focus:outline-none focus:text-[#043D3D] ">
              UTC
            </a>
            <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </li>
          <li class="inline-flex items-center text-sm font-semibold text-[#043D3D] truncate" aria-current="page">
            Ubicación
          </li>
      </ol>
</div>

<div class="flex justify-center mt-8">
  <div class="max-w-7xl w-full">
    <!-- Sección de Ubicación -->
   
      <h2 class="text-4xl font-extrabold text-[#043D3D] mb-6 text-center">Visítenos</h2>
      <p class="text-xl text-[#043D3D] mb-12 text-center">Universidad Tecnológica de la Costa</p>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29631.65887185448!2d-105.20683411763848!3d21.820578372106322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8420a8ceea11c975%3A0x263dec0370f9d5f3!2sUniversidad%20Tecnol%C3%B3gica%20de%20La%20Costa!5e0!3m2!1ses!2smx!4v1719933863364!5m2!1ses!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="bg-white bg-opacity-20 rounded-lg overflow-hidden shadow-lg text-black">
          <div class="px-6 py-4">
            <h3 class="text-lg font-medium"><span><i class="fa-solid fa-diamond-turn-right mr-2 text-gray-800"></i></span>Dirección</h3>
            <p class="mt-1">Carretera Santiago entronque internacional no. 15 km 5, Santiago Ixcuintla, Nay.</p>
          </div>

<!-- Sección de Horarios con estado dinámico y div flotante -->
<div class="border-t border-gray-200 border-opacity-20 px-6 py-4 relative">
  <div class="flex items-center cursor-pointer" (mouseover)="showHorarioPopup()" (mouseout)="hideHorarioPopup()">
    <span><i class="fa-solid fa-clock mr-2 text-gray-800"></i></span>
    <span class="text-lg font-bold" [ngClass]="isOpen ? 'text-green-500' : 'text-red-600'">
      {{ isOpen ? 'Abierto ahora' : 'Cerrado ahora' }}
    </span>
    <svg class="flex-shrink-0 ms-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="m6 9 6 6 6-6" />
    </svg>
  </div>

  <!-- Div flotante que muestra los horarios al pasar el mouse -->
  <div id="horarioPopup" 
       class="absolute bg-gray-50 text-black rounded-lg shadow-lg p-4 mt-2 z-50 w-70 hidden" 
       [ngClass]="{'block': isPopupVisible, 'hidden': !isPopupVisible}">
    <h4 class="font-bold mb-2">Horarios</h4>
    <p class="text-sm">Lunes - Viernes: 8:00 a.m. - 4:00 p.m.</p>
    <p class="text-sm">Sábado: 8:00 a.m. - 5:30 p.m.</p>
    <p class="text-sm">Domingo: Cerrado</p>
    <p class="mt-2" [ngClass]="isOpen ? 'text-green-600' : 'text-red-600'">
      {{ isOpen ? 'Abierto Ahora' : 'Cerrado ahora' }}
    </p>
  </div>
</div>



          <div class="border-t border-gray-200 border-opacity-20 px-6 py-4">
            <h3 class="text-lg font-medium"><span><i class="fa-solid fa-address-book mr-2 text-gray-800"></i></span>Contacto</h3>
            <p class="mt-1">Teléfono: +52 323 174 3139</p>
          </div>
        </div>
      </div>
    

    <!-- Botón de contacto -->
    <div class="my-12 text-center">
      <a href="/correo" class="inline-block bg-[#04847C] hover:bg-[#032D2D] text-white font-bold py-4 px-10 rounded-full shadow-xl transition-transform transform hover:scale-105 duration-300">
        Envíanos un mensaje
      </a>
    </div>
  </div>
</div>
