<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<section class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
        <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-gray-900">Visita</h2>
            <p class="mt-4 text-lg text-gray-500">Universidad tecnlogica de la costa.</p>
        </div>
        <div class="mt-16 lg:mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="rounded-lg overflow-hidden">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29631.65887185448!2d-105.20683411763848!3d21.820578372106322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8420a8ceea11c975%3A0x263dec0370f9d5f3!2sUniversidad%20Tecnol%C3%B3gica%20de%20La%20Costa!5e0!3m2!1ses!2smx!4v1719933863364!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div>
                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                        <div class="px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Direccion</h3>
                            <p class="mt-1 text-gray-600">Carretera Santiago entronque internacional no. 15 km 5, Santiago Ixcuintla, Nay.</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Horas</h3>
                            <p class="mt-1 text-gray-600">Lunes - Viernes: 8am - 4pm</p>
                            <p class="mt-1 text-gray-600">Sabado: 8am - 5pm</p>
                            <p class="mt-1 text-gray-600">Domingo: Cerrado</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Contacto</h3>
                            <p class="mt-1 text-gray-600">Correo: infoexample.com</p>
                            <p class="mt-1 text-gray-600">Telefono: +52 (323) 174 31 39.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->