<!--Componente Navbar-->
<app-navbar></app-navbar>
<p id="inicio"></p>
<!--Fin Navbar-->

<div class="container h-screen max-w-screen-lg mb-8 mt-28"> <!-- Agregamos un margen inferior de 8 unidades -->

    <!-- Noticia 1 -->
    <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
        <div class="bg-white rounded-lg overflow-hidden">
            <div class="grid grid-cols-1 lg:grid-cols-5">
                <div class="relative flex lg:col-span-2">
                    <div class="flex-1 h-24">
                        <img src="..." alt="trabajo" class="object-contain">
                    </div>
                    <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2">
                            
                    </div>
                </div>
                <div class="p-2 lg:col-span-3 flex flex-col justify-between">
                    <div>
                        <h3 class="text-xl font-bold text-gray-800 mb-1">Gerente de administración</h3>
                        <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las
                            imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                            industrias desde el año 1500.</p>
                    </div>
                    <div class="flex items-center justify-end">
                        <a href="#" class="text-green-800 font-semibold text-sm">Aplicar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Noticia 2 -->
    <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
        <div class="bg-white rounded-lg overflow-hidden">
            <div class="grid grid-cols-1 lg:grid-cols-5">
                <div class="relative flex lg:col-span-2">
                    <div class="flex-1 h-24">
                        <img src="..." alt="Universidad Tecnológica de la Costa" class="object-contain">
                    </div>
                    <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2">

                    </div>
                </div>
                <div class="p-2 lg:col-span-3 flex flex-col justify-between">
                    <div>
                        <h3 class="text-xl font-bold text-gray-800 mb-1">Ingenierio en sistemas</h3>
                        <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las
                            imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                            industrias desde el año 1500.</p>
                    </div>
                    <div class="flex items-center justify-end">
                        <a href="#" class="text-green-800 font-semibold text-sm">Aplicar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Noticia 3 -->
    <div class="border rounded-lg shadow-lg overflow-hidden mb-4">
        <div class="bg-white rounded-lg overflow-hidden">
            <div class="grid grid-cols-1 lg:grid-cols-5">
                <div class="relative flex lg:col-span-2">
                    <div class="flex-1 h-24">
                        <img src="..." alt="Universidad Tecnológica de la Costa" class="object-contain">
                    </div>
                    <div class="date-container bg-green-800 text-white flex flex-col items-center justify-center p-2">

                    </div>
                </div>
                <div class="p-2 lg:col-span-3 flex flex-col justify-between">
                    <div>
                        <h3 class="text-xl font-bold text-gray-800 mb-1">Maestro de ingles</h3>
                        <p class="text-gray-600 mb-2 text-sm">Lorem Ipsum es simplemente el texto de relleno de las
                            imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                            industrias desde el año 1500.</p>
                    </div>
                    <div class="flex items-center justify-end">
                        <a href="#" class="text-green-800 font-semibold text-sm">Aplicar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border shadow-lg overflow-hidden mb-4 p-2 bg-gray-100 rounded-lg">
        <a href="/eventos">
            <p class="text-md text-center">Mostrar trabajos <i class="fa-solid fa-angle-down"></i></p>
        </a>
    </div>
</div>
<!--Inicio componente Footer-->
<app-footer></app-footer>
<!--Fin Footer-->